/* Fuentes */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    padding: 15px;
}

.logo img {
    width: 80px;
    height: auto;
    display: block;
}

.titulo-tienda {
    flex-grow: 1;
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f59015e1;
    transition: 0.3s ease-in-out;
}


/* Banner de Inicio */
.banner {
    position: relative;
    width: 100%;
    height: 280px;
    background: url('img/banner1.jpg') no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: bold;
}

/* Fondo */
.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}


/* Posición */
.banner h2,
.banner p {
    position: relative;
    z-index: 1;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

#inicio h2 {
    font-size: 35px;
}

#inicio p {
    font-size: 25px;
    margin-top: -15px;
}

/* Sección Productos */
#productos {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}

/* Sección Productos */
.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.producto-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    max-width: 200px;
}

.producto-card img {
    max-width: 100%;
    border-radius: 8px;
}

.producto-card:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}


/* Sección Contacto */
#contacto {
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    padding: 20px;
    text-align: center;
}

#contacto form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    gap: 10px;
}

#contacto label {
    font-weight: bold;
}

#contacto input,
#contacto textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ca770a;
    border-radius: 5px;
    background-color: transparent;
    box-sizing: border-box;
    color: #222;
}


.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
}

.input-container input {
    border: none;
    outline: none;
    width: 100%;
    flex: 1;
}

.contacto-titulo {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

.material-icons {
    font-size: 24px;
    color: #25d38a;
    /* Color del icono */
}

#contacto button:hover {
    background: #ce9909;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}


footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Responsive */
@media (max-width: 600px) {
    .banner {
        height: 200px;
    }
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .productos-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    #inicio h2 {
        font-size: 28px;

    }

    #inicio p {
        font-size: 18px;
        margin-top: 0px;

    }
}

@media (max-width: 600px) {
    .titulo-tienda {
        display: none;
        /* Para ocultar el título "Tienda de Mochis" */
    }
}